<section id="about" class="bg-white t-center" *ngIf="text != null">

    <!--About -->
    <div class="about">


        <!--Content-->
        <div class="content">

            <!--Block content-->
            <div class="block-content mb-100">

                <!--Row-->
                <div class="row">

                    <div class="col-md-12">
                        <div class="main-title profile">
                            <h1 class="mb-20">{{text['name']['name'][lg]}}</h1>
                            <br />
                            <h3>{{text['position']['name'][lg]}}</h3>
                        </div>
                    </div>
                </div>
                <!--End row-->

            </div>
            <!--End block content-->

            <!--Block content-->
            <div class="block-content mb-100">

                <!--Row-->
                <div class="row">

                    <div class="col-md-12  ">

                        <div class="sub-title mb-40">
                            <h2 class="uppercase">{{text['about']['title'][lg]}}</h2>
                        </div>

                    </div>
                </div>
                <!--End row-->


                <p class="lead-intro">{{text['about']['description'][lg]}}</p>

            </div>
            <!--End block content-->

            <!--Block content-->
            <div class="block-content mb-100 pb-30">

                <!--Row-->
                <div class="row">

                    <div class="col-md-12  ">

                        <div class="sub-title mb-40">
                            <h2 class="uppercase">{{text['personal_info']['title'][lg]}}</h2>
                        </div>

                    </div>
                </div>
                <!--End row-->


                <div class="row">
                    <div class="col-md-8 col-md-offset-3  col-sm-8 col-sm-offset-3 ">

                        <!--Listing-->
                        <div class="listing mt-40">

                            <div class="listing-inner">
                                <div class="listing-event">
                                    <ul class="data left">
                                        <li class="emph-1">{{text['personal_info']['name_title'][lg]}}</li>
                                        <li class="emph-1">{{text['personal_info']['birthday_title'][lg]}}</li>
                                        <li class="emph-1">{{text['personal_info']['place_birth_title'][lg]}}</li>
                                        <li class="emph-1">{{text['personal_info']['nationality_title'][lg]}}</li>
                                        <li class="emph-1">{{text['personal_info']['marital_status_title'][lg]}}</li>
                                        <li class="emph-1">{{text['personal_info']['freelance_title'][lg]}}</li>

                                    </ul>

                                    <ul class="data right">
                                        <li>{{text['personal_info']['name'][lg]}}</li>
                                        <li>{{text['personal_info']['birthday'][lg]}}</li>
                                        <li>{{text['personal_info']['place_birth'][lg]}}</li>
                                        <li>{{text['personal_info']['nationality'][lg]}}</li>
                                        <li>{{text['personal_info']['marital_status'][lg]}}</li>
                                        <li>{{text['personal_info']['freelance'][lg]}}</li>
                                    </ul>

                                </div>
                            </div>

                        </div>
                        <!--End listing-->

                    </div>

                </div>

            </div>
            <!--End block content-->

            <!--Block content-->
            <div class="block-content mb-100  pb-30">

                <!--Row-->
                <div class="row">

                    <div class="col-md-12  ">

                        <div class="sub-title mb-40">
                            <h2 class="uppercase">{{text['contact_info']['title'][lg]}}</h2>
                        </div>

                    </div>
                </div>
                <!--End row-->

                <!--Row-->
                <div class="row">
                    <div class="col-md-8 col-md-offset-3  col-sm-8 col-sm-offset-3 ">

                        <!--Listing-->
                        <div class="listing mt-40">

                            <div class="listing-inner">
                                <div class="listing-event">
                                    <ul class="data left">
                                        <li><span class="emph-1">{{text['contact_info']['adress_title'][lg]}}</span>
                                            :<br>
                                            {{text['contact_info']['adress'][lg]}}
                                        </li>
                                    </ul>

                                    <ul class="data right">
                                        <li><span class="emph-1">{{text['contact_info']['email_title'][lg]}}</span> :
                                            {{text['contact_info']['email'][lg]}}</li>
                                        <li><span class="emph-1">{{text['contact_info']['website_title'][lg]}}</span> :
                                            {{text['contact_info']['website'][lg]}}</li>
                                        <li><span class="emph-1">{{text['contact_info']['phone_title'][lg]}}</span> :
                                            {{text['contact_info']['phone'][lg]}}
                                        </li>
                                    </ul>

                                </div>
                            </div>

                        </div>
                        <!--End listing-->

                    </div>

                </div>
                <!--End row-->

            </div>
            <!--End block content-->


            <!--Block content-->
            <!--
                <div class="block-content">
    
                    <div class="row">
                        <div class="col-md-12">
                            <span class="page-number emph-1">- 1/5 -</span>
                        </div>
    
                    </div>
                </div>
                -->
            <!--End block content-->


        </div>
        <!--End content-->

    </div>
    <!--End about-->

</section>
<!--End about tab-->