/* You can add global styles to this file, and also import other style files */

.main-nav li a:hover{
    color: #ffffff;
    span{
        color: #ffffff;
    }
}

.mt-150{
    margin-top: 120px !important;
    margin-bottom: 120px !important;
}